lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp

pids
logs
results
tmp

# GraphQL Generated Schema and Types
# src/server/graphql/generated

# Coverage reports
coverage

# API keys and secrets
.env
.env.development
.env.production

# Dependency directory
node_modules
bower_components

# Editors
.idea
*.iml

# OS metadata
.DS_Store
Thumbs.db

# Ignore built ts files
dist/**/*
dist

# ignore yarn.lock
yarn-error.log
